In [1]:
import pandas as pd
import numpy as np

In [2]:
victimas = pd.read_excel("homicidios.xlsx", sheet_name=2)
hechos = pd.read_excel("homicidios.xlsx", sheet_name=0)

In [3]:
victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [4]:
hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Direcci√≥n Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [5]:
victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

In [6]:
victimas["FECHA_FALLECIMIENTO"].replace("SD",None, inplace=True)
victimas.dropna(subset="FECHA_FALLECIMIENTO", inplace=True)
indice = victimas[victimas["FECHA_FALLECIMIENTO"]=="26/03/2019"].index[0]
victimas["FECHA_FALLECIMIENTO"].iloc[indice] = "2019-03-26"
victimas["FECHA_FALLECIMIENTO"].iloc[indice]

C:\Users\ZeeD\AppData\Local\Temp\ipykernel_9024\3408099894.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  victimas["FECHA_FALLECIMIENTO"].iloc[indice] = "2019-03-26"

'2019-03-26'

In [7]:
pd.to_datetime(victimas["FECHA_FALLECIMIENTO"], errors="ignore")

C:\Users\ZeeD\AppData\Local\Temp\ipykernel_9024\446736383.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.to_datetime(victimas["FECHA_FALLECIMIENTO"], errors="ignore")

0     2016-01-01
1     2016-01-02
2     2016-01-03
4     2016-02-01
5     2016-01-24
         ...
712   2021-12-12
713   2021-12-18
714   2021-12-20
715   2022-01-02
716   2021-12-20
Name: FECHA_FALLECIMIENTO, Length: 649, dtype: datetime64[ns]

In [8]:
victimas['quarter'] = pd.PeriodIndex(victimas['FECHA_FALLECIMIENTO'], freq='Q')

C:\Users\ZeeD\AppData\Local\Temp\ipykernel_9024\789143409.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  victimas['quarter'] = pd.PeriodIndex(victimas['FECHA_FALLECIMIENTO'], freq='Q')

In [47]:
victimas.groupby("semester").count()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO,quarter
semester,,,,,,,,,,,
2016S1,43,43,43,43,43,43,43,43,43,43,43
2016S2,40,40,40,40,40,40,40,40,40,40,40
2017S1,69,69,69,69,69,69,69,69,69,69,69
2017S2,66,66,66,66,66,66,66,66,66,66,66
2018S1,69,69,69,69,69,69,69,69,69,69,69
2018S2,79,79,79,79,79,79,79,79,79,79,79
2019S1,59,59,59,59,59,59,59,59,59,59,59
2019S2,46,46,46,46,46,46,46,46,46,46,46
2020S1,31,31,31,31,31,31,31,31,31,31,31
2020S2,49,49,49,49,49,49,49,49,49,49,49
2021S1,56,56,56,56,56,56,56,56,56,56,56
2021S2,40,40,40,40,40,40,40,40,40,40,40
2022S1,2,2,2,2,2,2,2,2,2,2,2

In [121]:
victimas["semester"] = victimas["quarter"].astype(str)
victimas["semester"] = victimas["semester"].str.replace("Q1","S1")
victimas["semester"] = victimas["semester"].str.replace("Q2","S1")
victimas["semester"] = victimas["semester"].str.replace("Q3","S2")
victimas["semester"] = victimas["semester"].str.replace("Q4","S2")
victimas["semester"]

0      2016S1
1      2016S1
2      2016S1
4      2016S1
5      2016S1
        ...
712    2021S2
713    2021S2
714    2021S2
715    2022S1
716    2021S2
Name: semester, Length: 649, dtype: object

In [122]:
df = victimas["semester"].value_counts()

tasa = []
for valor in df:
    tasa.append(round((valor/3120000)*100000,2))
df = df.to_frame(name="tasa")
df["tasa"] = tasa
df["cantidad"] = victimas["semester"].value_counts()
df.to_parquet("kpi1.parquet")
df

        tasa  cantidad
2018S2  2.53        79
2017S1  2.21        69
2018S1  2.21        69
2017S2  2.12        66
2019S1  1.89        59
2021S1  1.79        56
2020S2  1.57        49
2019S2  1.47        46
2016S1  1.38        43
2016S2  1.28        40
2021S2  1.28        40
2020S1  0.99        31
2022S1  0.06         2

In [95]:
a√±o = "2021"
df.loc[a√±o + "S1"]["tasa"]

1.79

In [123]:
df.reset_index(inplace=True)
df.rename(columns={"index": "A√±o"}, inplace=True)

In [99]:
df.to_parquet("kpi1.parquet")

In [96]:
def kpi(a√±o):
    poblacion = 3120000
    try:
        anterior = df.loc[a√±o + "S1"]["tasa"]
        ultimo = df.loc[a√±o + "S2"]["tasa"]
    except:
        return print("Semestre inv√°lido")
    poblacion = 3120000
    objetivo = anterior * .9
    print(f"El objetivo es {objetivo} y el anterior fue {anterior}, y el ultimo fue {ultimo}")
kpi("2021")

El objetivo es 1.611 y el anterior fue 1.79, y el ultimo fue 1.28

In [ ]:
asd = np.where(victimas["quarter"] == "2020S1")

asd

(array([471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483,
        484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496,
        497, 498, 499, 500, 501], dtype=int64),)

In [ ]:
print(victimas[victimas["quarter"]=="2020S1"]["quarter"].shape)

(31,)

In [125]:
df = df.sort_values(by="A√±o")

df.reset_index(inplace=True)
df

    index     A√±o  tasa  cantidad
0       8  2016S1  1.38        43
1       9  2016S2  1.28        40
2       1  2017S1  2.21        69
3       3  2017S2  2.12        66
4       2  2018S1  2.21        69
5       0  2018S2  2.53        79
6       4  2019S1  1.89        59
7       7  2019S2  1.47        46
8      11  2020S1  0.99        31
9       6  2020S2  1.57        49
10      5  2021S1  1.79        56
11     10  2021S2  1.28        40
12     12  2022S1  0.06         2

In [137]:
a√±os = [2016,2017,2018,2019,2020,2021]
primer_semestre = [df.loc[i]["tasa"] for i in range(0,11,2)]
primer_semestre

[1.38, 2.21, 2.21, 1.89, 0.99, 1.79]

In [135]:
segundo_semestre = [df.loc[i]["tasa"] for i in range(1,12,2)]
segundo_semestre

[1.28, 2.12, 2.53, 1.47, 1.57, 1.28]

In [141]:
objetivo = [valor*.9 for valor in df["primer_semestre"]]

In [142]:
data = {"a√±os": a√±os, "primer_semestre": primer_semestre, "segundo_semestre": segundo_semestre, "objetivo": objetivo}
df = pd.DataFrame(data)
df.to_parquet("kpi1.parquet")

In [19]:
data = {"a√±os":[2016,2017,2018,2019,2020,2021], "victimas": []}

In [20]:
for a√±o in data["a√±os"]:
    data["victimas"].append(victimas[(victimas["AAAA"]==a√±o) & (victimas["VICTIMA"]=="MOTO")].shape[0])

data

{'a√±os': [2016, 2017, 2018, 2019, 2020, 2021],
 'victimas': [65, 56, 57, 50, 29, 46]}

In [23]:
victimas[victimas["VICTIMA"]=="MOTO"]["AAAA"].value_counts()

2016    65
2018    57
2017    56
2019    50
2021    46
2020    29
Name: AAAA, dtype: int64

In [31]:
kpi1 = pd.read_parquet("kpi1.parquet")
kpi1["victimas_a√±o"] = kpi2["victimas"]
kpi1

   a√±os  primer_semestre  segundo_semestre  objetivo  victimas_a√±o
0  2016             1.38              1.28     1.242            65
1  2017             2.21              2.12     1.989            56
2  2018             2.21              2.53     1.989            57
3  2019             1.89              1.47     1.701            50
4  2020             0.99              1.57     0.891            29
5  2021             1.79              1.28     1.611            46

In [33]:
kpi2 = pd.DataFrame(data)
kpi2.to_parquet("kpi2.parquet")
kpi2

[60.45,
 52.080000000000005,
 53.010000000000005,
 46.5,
 26.970000000000002,
 42.78]

In [59]:
motos = [0]
for i in range(1,6):
    motos.append(((kpi1["victimas_a√±o"].iloc[i-1]-kpi1["victimas_a√±o"].iloc[i])/kpi1["victimas_a√±o"].iloc[i-1])*100)

In [41]:
motos

[0,
 13.846153846153847,
 1.7857142857142856,
 12.280701754385964,
 42.0,
 58.620689655172406]

In [57]:
objetivo_moto = [0]
for i in range(1,6):
    objetivo_moto.append(((kpi1["victimas_a√±o"].iloc[i-1]*.93-kpi1["victimas_a√±o"].iloc[i])/kpi1["victimas_a√±o"].iloc[i-1])*100)

In [53]:
objetivo_moto

[0,
 6.84615384615385,
 8.785714285714276,
 5.280701754385974,
 35.0,
 65.6206896551724]

In [62]:
kpi1["motos"] = motos
kpi1["objetivo_moto"] = objetivo_moto
kpi1.to_parquet("kpi1.parquet")

In [66]:
kpi1["anterior"]= [0, 0 ,13.84,-1.78, 12.28,42]
kpi1.to_parquet("kpi1.parquet")

In [68]:
kpi1

,a√±os,primer_semestre,segundo_semestre,objetivo,victimas_a√±o,motos,objetivo_moto,anterior
0,2016,1.38,1.28,1.242,65,0.000000,0.000000,0.00
1,2017,2.21,2.12,1.989,56,13.846154,6.846154,0.00
2,2018,2.21,2.53,1.989,57,-1.785714,-8.785714,13.84
3,2019,1.89,1.47,1.701,50,12.280702,5.280702,-1.78
4,2020,0.99,1.57,0.891,29,42.000000,35.000000,12.28
5,2021,1.79,1.28,1.611,46,-58.620690,-65.620690,42.00